@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}


h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

label {
    display: block;
    font-style: italic;
    margin-bottom: 0.5rem;
}

input, button {
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0.5rem 0;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:enabled:hover {
    background-color: #0056b3;
}

ul {
    padding: 0;
    margin-top: 1rem;
}

li {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

.mr-2 {
    margin-right: 8px;
}